
@use '../tokens' as *;

.input-horizontal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
   label{
    font-size: 13px;
    font-weight: 500;
    color: $text;
  }
  input{
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    color: $desc;
    text-align: end;
  }
}