@use '../tokens' as *;

.input{
  width: 100%;
  label{
    font-size: 9px;
    font-weight: 500;
    color: $desc;
  }
  input{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0 0 7px;
    background-color: transparent;
    border-bottom: 1px solid $accent;
    font-size: 13px;
    font-weight: 500;
  }
}
