$bg: rgb(255 255 255 / 100%);
$text: rgb(30 30 30 / 100%);
$desc: rgb(153 153 153 / 100%);
$shadow: rgb(0 0 0 / 14%);
$accent: rgb(51 105 243 / 100%);
$active: rgb(228 237 253 / 100%);
$warning: rgb(255 47 47 / 100%);
$border: rgb(234 234 234 / 100%);
$grey: rgb(251 251 251 / 100%);
$bg-input: rgb(239 239 239 / 100%);
$bg-massage: rgb(248 248 248 / 100%);
$bg-time: rgb(82 82 82 / 50%);
