$bg: rgba(255, 255, 255, 1);
$text: rgba(30, 30, 30, 1);
$desc: rgba(153, 153, 153, 1);
$shadow: rgba(0, 0, 0, 0.14);
$accent: rgba(51, 105, 243, 1);
$active: rgba(228, 237, 253, 1);
$warning: rgba(255, 47, 47, 1);
$border: rgba(234, 234, 234, 1);
$grey: rgba(251, 251, 251, 1);
$bg-input: rgba(239, 239, 239, 1);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
}


// login registration
.container-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 30px 30px;
  width: 340px;
  height: 450px;
  border-radius: 12px;
  box-shadow: 0 0 6px $shadow;
  &.big{
    height: 650px;
  }
  .card-title{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
  }
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

  .form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 14px;
      
    .btn{
      width: 100%;
      background-color: $accent;
      border: none;
      outline: none;
      padding: 12px 70px;
      color: $bg;
      border-radius: 8px;
    }
    .sing-up,
    .sing-in{
      margin: 0;
      padding: 0;
      font-size: 11px;
      font-weight: 500;
      color: $accent;
      text-decoration: none;
    }
  }
}
// chat
.page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .container-message{
    display: flex;
    align-items: flex-start;
    width: 100%;
    .chats{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100vh;
      width: 344px;
      border-right: 1px solid $border;
      background-color: $grey;
      .profile{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 21px 10px;
        .link{
          text-decoration: none;
          font-size: 12px;
          font-weight: 500;
          color: $desc;
        }
      }
      .find{
        width: calc(100% - 20px);
        padding: 0 0 14px;
        margin: 0 10px;
        border-bottom: 1px solid $border;
        .find-chat{
          margin: 0;
          padding: 10px;
          width: 100%;
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: $bg-input;
        }
      }
      .list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        .empty{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          .desc{
            font-size: 12px;
            font-weight: 500;
            color: $desc;
          }
        }
      }
    }
    .chat{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      .desc{
        font-size: 12px;
        font-weight: 500;
        color: $desc;
      }
    }
  }
}
// error page
.container-warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    .head{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .title{
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
      }
      .desc{
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
      }
    }
    .footer{
      display: flex;
      align-items: center;
      justify-content: center;
      .link{
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-size: 11px;
        font-weight: 500;
        color: $accent;
      }
    }
  }
} 

//profile
.container-profile{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .link-group{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100vh;
    background-color: $grey;
    .back{
      background-image: url(assets/arrow.svg);
      width: 28px;
      height: 28px;
    }
  }
  .setting{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    gap: 60px;
    .phote-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .foto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
        background-color: $bg-input;
        border-radius: 100%;
        &.empty{
          background-image: url(assets/unphoto.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 40px;
        }
      }
      .name{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
      width: 100%;
      .form-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        .input-horizontal:not(:last-child){
          padding-bottom: 10px;
          border-bottom: 1px solid $border;
        }
      }
      .form-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
        .edit{
          width: 100%;
          padding-bottom: 10px;
          border-bottom: 1px solid $border;
          text-decoration: none;
          font-size: 13px;
          font-weight: 500;
          margin: 0;
          color: $accent;
          cursor: pointer;
        }
        .out{
          text-decoration: none;
          margin: 0;
          padding: 0;
          color: $warning;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }
}

// components
.input{
  label{
    font-size: 9px;
    font-weight: 500;
    color: $desc;
  }
  input{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0 0 7px;
    background-color: transparent;
    border-bottom: 1px solid $accent;
    font-size: 13px;
    font-weight: 500;
  }
}

.input-horizontal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
   label{
    font-size: 13px;
    font-weight: 500;
    color: $text;
  }
  input{
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    color: $desc;
    text-align: end;
  }
}